.DS_Store
build
*.xcworkspace/*
*.xcuserstate
ELLAPP2017.xcworkspace/
ELLAPP2017.xcodeproj/
#Pods/Pds.xcodeproj/
Pods/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
